@import 'variables';

.board-cover {
  object-fit: cover;
  width: 300px;
  height: 182px;
}

.board-card {
  width: 300px;
}

::ng-deep .ant-card-meta-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: @mobile-max-width) {
  .board-cover, .board-card {
    width: 260px;
  }
}