<ng-container *ngIf="user$ | async as user">
  <nz-card
    nzHoverable
    style="width: 300px"
    [nzCover]="coverTemplate3"
    [nzActions]="
      isOwner ? [actionSee, actionEdit, actionEllipsis] : isParticipant ? [actionSee, actionEdit] : [actionLock]
    "
    (click)="showInfo()"
  >
    <nz-card-meta
      nzTitle="{{ board.title }}"
      nzDescription="{{ 'Owner' | translate }} {{ board.owner.name }}"
      [routerLink]="routerLink"
    ></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate3>
    <img class="board-cover" width="300" height="182" [src]="boardCoverUrl$ | async" alt="" [routerLink]="routerLink" />
  </ng-template>
  <ng-template #actionSee>
    <span
      nz-icon
      nzType="eye"
      nzTheme="outline"
      nz-tooltip
      nzTooltipTitle="{{ 'OpenBoard' | translate }}"
      [routerLink]="['/boards', board._id]"
    ></span>
  </ng-template>
  <ng-template #actionEdit>
    <span nz-icon nzType="edit" nz-tooltip nzTooltipTitle="{{ 'EditBoard' | translate }}" (click)="editBoard()"></span>
  </ng-template>
  <ng-template #actionEllipsis>
    <span
      nz-icon
      nzType="delete"
      nz-tooltip
      nzTooltipTitle="{{ 'DeleteBoard' | translate }}"
      (click)="removeBoard()"
    ></span>
  </ng-template>
  <ng-template #actionLock>
    <span nz-icon nzTheme="twotone" nz-tooltip nzTooltipTitle="{{ 'AccessDenied' | translate }}" nzType="lock"></span>
  </ng-template>
</ng-container>
