@import 'variables';

.ant-layout-header {
  height: 64px;
  align-items: center;
  padding: 0 64px;
  line-height: 1;
  background: @secondary-color;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.header__left-group,
.header__right-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  color: @background-color-light;
  gap: 8px;
  font-weight: bold;
  font-size: larger;

  a {
    color: @background-color-light;
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
  }

  img {
    width: 32px;
  }
}

.header__menu,
.header__user-menu {
  display: flex;
}

.header__menu {
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.header__menu-item {
  color: @background-color-light;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: @primary-light;
  }

  .anticon {
    color: @primary-light;
    margin-left: 4px;
  }
}

.header__user-name {
  display: inline-block;
  max-width: 84px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 18px;
}

.header__welcome_actions {
  display: flex;
  gap: 32px;
}

.burger__toggler,
.burger__user-menu {
  display: none;
}

.burger__toggler label:hover {
  color: @primary-light;
  cursor: pointer;
}

@media (max-width: @tablet-max-width) {
  .ant-layout-header {
    padding: 0 16px;
  }
}

@media (max-width: @mobile-max-width) {
  .header__menu,
  .header__user-menu {
    display: none;
  }

  .header__right-group {
    flex-direction: column;
    align-items: flex-end;
  }

  .burger__toggler,
  .burger__user-menu,
  .burger__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .burger__toggler {
    flex: 1;
    cursor: pointer;
    color: @background-color-light;

    &:hover {
      color: @primary-light;
    }
  }

  .burger__user-menu,
  .burger__menu {
    width: 100%;
    gap: 16px;
  }

  .burger__menu {
    position: absolute;
    top: 64px;
    right: 0;
    background-color: @secondary-color;
    padding: 8px 16px 24px 16px;
    color: @background-color-light;
    z-index: 1000;
    line-height: 2;
  }
}
