<nz-header>
  <div class="header__left-group">
    <div class="header__logo">
      <a href="./">
        <img src="assets/images/ngpma.png" alt="ngPMA logo" />
        ngPMA
      </a>
    </div>
    <app-search></app-search>
  </div>

  <ng-container *ngIf="user$ | async as user">
    <nz-input-group [nzSuffix]="suffixIconSearch" class="header__search-field" *ngIf="user._id">
      <input type="text" nz-input placeholder="Search" i18n-placeholder="@@inputSearchPlaceholder" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

    <div class="header__right-group" *ngIf="user._id">
      <nz-radio-group class="header__lang-switch" nzSize="small">
        <label nz-radio-button nzValue="RU">RU</label>
        <label nz-radio-button nzValue="EN">EN</label>
      </nz-radio-group>

      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="header__user-menu">
        {{ user.name }}
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item i18n="@@editProfile" (click)="editProfile()">Edit Profile</li>
          <li nz-menu-item i18n="@@logOut" (click)="signOut()">Log Out</li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <div class="header__welcome_actions" *ngIf="!user._id">
      <span (click)="signUp()">Sign Up</span>
      <span (click)="logIn()">Login</span>
    </div>
  </ng-container>
</nz-header>
