@import 'variables';

.ant-layout-header {
  height: 64px;
  align-items: center;
  padding: 0 64px;
  line-height: 64px;
  background:@secondary-color;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ant-layout-header .anticon {
  color: @background-color-light;
}

.header__logo {
  display: flex;
  align-items: center;
  color: @background-color-light;
  gap: 8px;
  font-weight: bold;
  font-size: larger;

  a {
    color : @background-color-light;
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
  }
}

.header__logo img {
  width: 32px;
}


.header__right-group {
  display: flex;
  gap: 24px;
}

.header__lang-switch {
  display: flex;
  align-items: center;
}

.header__lang-switch .ant-radio-button-wrapper {
  background-color: inherit;
  color: @background-color-light;
  border: none;
}

.header__lang-switch .ant-radio-button-wrapper-checked {
  color: @primary-light;
}

.header__lang-switch .ant-radio-button-wrapper-checked::before {
  background-color: transparent;
}

.header__lang-switch .ant-radio-button-wrapper::before {
  background-color: @custom-grey;
}

.header__lang-switch .ant-radio-button-wrapper:hover {
  color: @primary-light;
}


.header__search-field {
  height: 32px;
  width: 302px;
  margin-left: 66px;
  background-color: transparent;
}

.header__search-field input {
  background-color: transparent;
  color: @primary-light;
}

.header__user-menu {
  color: @background-color-light;
}

.header__user-menu:hover{
  color: @primary-light;
}

.header__welcome_actions {
  display: flex;
  gap: 32px;
}

.header__welcome_actions a, .header__welcome_actions span {
    color: @background-color-light;
    cursor: pointer;
}

.header__welcome_actions a:hover, .header__welcome_actions span:hover {
    color: @primary-light;
}
