<nz-header>
  <div class="header__left-group">
    <div class="header__logo">
      <a href="./">
        <img src="assets/images/ngpma.png" alt="ngPMA logo" />
        ngPMA
      </a>
    </div>
    <app-search></app-search>
  </div>

  <ng-container *ngIf="user$ | async as user">
    <div class="header__right-group">
      <app-language-switcher></app-language-switcher>
      <ng-container *ngIf="user._id">
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="header__user-menu">
          {{ user.name }}
          <span nz-icon nzType="down"></span>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="editProfile()">{{ 'editProfile' | translate }}</li>
            <li nz-menu-item (click)="signOut()">{{ 'logOut' | translate }}</li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
    </div>

    <div class="header__welcome_actions" *ngIf="!user._id">
      <span (click)="signUp()">{{ 'SignUpModalTitle' | translate }}</span>
      <span (click)="logIn()">{{ 'LoginModalTitle' | translate }}</span>
    </div>
  </ng-container>
</nz-header>
