.main-inner-content {
  padding: 24px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px;
}

.new-board-card {
  width: 300px;
  min-height: 335.422px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}
