<nz-layout>
  <nz-header>
    <div class="header__logo">
      <img src="assets/images/ngpma.png" />
      ngPMA
    </div>
    <div class="header__welcome_actions">
      <a href="">Sign Up</a>
      <a href="">Sign In</a>
    </div>
  </nz-header>

  <nz-content>
    <div class="welcome__inner-content"></div>
  </nz-content>

  <nz-footer>
    <a href="https://rs.school/angular/"><img src="assets/images/rsschoollogo.svg" /></a>

    <div class="contacts">
      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/thorsangervanet">thorsangervanet</a>
      </div>

      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/ogimlyogimly">ogimly</a>
      </div>

      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/022022">022022</a>
      </div>
    </div>

    <div class="copyright">
      <span nz-icon nzType="copyright-circle" nzTheme="outline"></span>
      2022
    </div>
  </nz-footer>
</nz-layout>
