<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Login"
  nzOkText="Login"
  nzCancelText="Cancel"
  i18n-nzTitle="@@SignInModalTitle"
  [nzFooter]="null"
  [nzWidth]="400"
>
  <ng-container *nzModalContent>
    <form nz-form class="auth-form">
      <nz-form-item>
        <nz-form-control i18n-nzErrorTip="@@userNameErrorTip" nzErrorTip="Please provide your username">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Username"
              i18n-placeholder="@@userNamePlaceholder"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control i18n-nzErrorTip="@@passwordErrorTip" nzErrorTip="Please provide your password">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
              i18n-placeholder="@@passwordPlaceholder"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button nz-button nzType="primary">Log In</button>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
