@import 'variables';

.ant-card:hover {
  cursor: grab;
}

.title-to-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.title-to-input h3 {
  margin: 0;
  line-height: 32px;
}

.title-to-input h3:hover {
  cursor: pointer;
  color: @primary-color;
}

.title-to-input .anticon {
  color: @custom-grey;
}

.project__column {
  min-width: 300px;
}

::ng-deep .ant-badge-count {
  background: transparent;
  color: @primary-color;
  box-shadow: 0 0 0 1px @primary-color inset;
}

::ng-deep .ant-list-item-meta-title:hover {
  cursor: pointer;
  color: @primary-color;
}

.ant-list-item {
  padding-left: 8px;
  border-radius: 2px;
}

.ant-list-item:hover {
  background-color: @background-color-light;
  cursor: grab;
}

.ant-card .anticon:hover {
  color: @primary-color;
  cursor: pointer;
}

.ant-card-head {
  background-color: @background-color-xlight;
}
