<ng-template #title>
  <div class="title-to-input" nzAlign="center">
    <h3>
      {{ column.title }}
      <nz-badge nzStandalone [nzCount]="column.tasks.length"></nz-badge>
    </h3>
    <span nz-icon nzType="delete" class="anticon anticon-delete ng-star-inserted action-icon"></span>
  </div>
</ng-template>

<ng-template #titleInput>
  <div class="title-to-input">
    <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzAddOnAfter]="suffixTemplateInfo2">
      <input nz-input placeholder="To Do" nzSize="small" />
    </nz-input-group>
    <ng-template #suffixTemplateInfo>
      <span nz-icon nz-tooltip nzTooltipTitle="Save" nzType="check-circle"></span>
    </ng-template>
    <ng-template #suffixTemplateInfo2>
      <span nz-icon nz-tooltip nzTooltipTitle="Cancel" nzType="close-circle" (click)="deleteComponent()"></span>
    </ng-template>
  </div>
</ng-template>

<nz-card nzHoverable class="project__column" [nzActions]="[actionAdd]" [nzTitle]="column ? title : titleInput">
  <app-tasks-list [tasks]="column ? column.tasks : []"></app-tasks-list>
</nz-card>

<ng-template #actionAdd>
  <button
    i18n-nzTooltipTitle="@@AddNewTask"
    nz-button
    nz-tooltip
    nzType="default"
    nzShape="circle"
    nzTooltipTitle="Add New Task"
    nzTooltipPlacement="bottom"
    nzTooltipColor="#203c56"
  >
    <span nz-icon nzType="plus"></span>
  </button>
</ng-template>
