<ng-template #title>
  <div class="title-to-input" nzAlign="center">
    <h3>
      {{ column.title }}
      <nz-badge nzStandalone [nzCount]="column.tasks ? column.tasks.length : 0"></nz-badge>
    </h3>
    <span nz-icon nzType="delete" class="anticon anticon-delete ng-star-inserted action-icon"></span>
  </div>
</ng-template>

<nz-card nzHoverable class="project__column" [nzActions]="[actionAdd]" [nzTitle]="title">
  <app-tasks-list [tasksWithColumnId]="{ columnId: column._id, tasks: column.tasks }"></app-tasks-list>
</nz-card>
<ng-template #actionAdd>
  <button
    i18n-nzTooltipTitle="@@AddNewTask"
    nz-button
    nz-tooltip
    nzType="default"
    nzShape="circle"
    nzTooltipTitle="Add New Task"
    nzTooltipPlacement="bottom"
    nzTooltipColor="#203c56"
  >
    <span nz-icon nzType="plus"></span>
  </button>
</ng-template>
