<nz-list-item [class.selected]="task.selected">
  <nz-list-item-meta nz-tooltip nzTooltipTitle="Edit task" i18n-nzTooltipTitle="@@EditTaskTooltip" (click)="editTask()">
    <nz-list-item-meta-title>{{ task.title }}</nz-list-item-meta-title>
    <nz-list-item-meta-description>{{ task.user.name }}</nz-list-item-meta-description>
  </nz-list-item-meta>
  <ul nz-list-item-actions>
    <nz-list-item-action>
      <span
        nz-icon
        nzType="delete"
        nz-tooltip
        nzTooltipTitle="Delete task"
        i18n-nzTooltipTitle="@@DeleteTaskTooltip"
        class="anticon anticon-delete ng-star-inserted"
        (click)="deleteTask()"
      ></span>
    </nz-list-item-action>
  </ul>
</nz-list-item>
