<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Create Task"
  i18n-nzTitle="@@CreateTaskModalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form nz-form class="content-form">
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="title" i18n="@@CreateTaskTitle">Title</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Title is required" i18n-nzErrorTip="@@CreateTaskErrorTip">
          <input nz-input formControlName="title" id="title" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="description" i18n="@@CreateTaskDescription"
          >Description</nz-form-label
        >
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <textarea nz-input rows="2"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="Participants" i18n="@@CreateTaskResponsible"
          >Responsible</nz-form-label
        >
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <nz-select
            nzMode="default"
            nzPlaceHolder="Please select responsible person"
            i18n-nzPlaceHolder="@@CreateTaskResponsiblePlaceHolder"
          >
            <nz-option nzLabel="Lea" nzValue="Lea"></nz-option>
            <nz-option nzLabel="Mike" nzValue="Mike1"></nz-option>
            <nz-option nzLabel="Lea" nzValue="Lea3"></nz-option>
            <nz-option nzLabel="Mike" nzValue="Mike2"></nz-option>
            <nz-option nzLabel="Lea" nzValue="Lea2"></nz-option>
            <nz-option nzLabel="Mike" nzValue="Mike3"></nz-option>
            <nz-option nzLabel="Lea" nzValue="Lea1"></nz-option>
            <nz-option nzLabel="Mike" nzValue="Mike4"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="Participants" i18n="@@CreateTaskParticipants"
          >Participants</nz-form-label
        >
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <nz-select
            nzMode="multiple"
            nzPlaceHolder="Please select team members"
            i18n-nzPlaceHolder="@@CreateTaskParticipantsPlaceHolder"
          >
            <nz-option nzLabel="Lea" nzValue="Lea"></nz-option>
            <nz-option nzLabel="Mike" nzValue="Mike1"></nz-option>
            <nz-option nzLabel="Lea" nzValue="Lea3"></nz-option>
            <nz-option nzLabel="Mike" nzValue="Mike2"></nz-option>
            <nz-option nzLabel="Lea" nzValue="Lea2"></nz-option>
            <nz-option nzLabel="Mike" nzValue="Mike3"></nz-option>
            <nz-option nzLabel="Lea" nzValue="Lea1"></nz-option>
            <nz-option nzLabel="Mike" nzValue="Mike4"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Task Checklist" i18n-nzText="@@CreateTaskChecklist"></nz-divider>

      <nz-form-item>
        <label nz-checkbox>Design task checklist</label>
      </nz-form-item>

      <nz-form-item>
        <input nz-input />
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzXs]="24" [nzSm]="24">
          <button nz-button nzType="dashed" class="add-button" i18n="@@CreateTaskAddSubTask">
            <span nz-icon nzType="plus"></span>
            Add Subtask
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
