<ng-template [nzModalTitle] i18n="@@CreateTaskModalTitle">Create Task</ng-template>

<form nz-form class="content-form" [formGroup]="taskAddForm" *ngIf="users$ | async as users">
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="title" i18n="@@TaskTitle">Title</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="titleErrorTip">
      <input nz-input id="title" formControlName="title" />
      <ng-template #titleErrorTip>
        <ng-container *ngIf="title?.hasError('required')" i18n="@@TaskTitleRequiredErrorTip"
          >Please provide a title</ng-container
        >
        <ng-container
          *ngIf="title?.hasError('maxlength') || title?.hasError('minlength')"
          i18n="@@TaskTitleMinlengthErrorTip"
          >Title should be 2-40 characters long</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="description" i18n="@@TaskDescription">Description</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="descriptionErrorTip">
      <textarea nz-input rows="2" formControlName="description"></textarea>
      <ng-template #descriptionErrorTip>
        <ng-container *ngIf="description?.hasError('maxlength')" i18n="@@TaskTitleMaxlengthErrorTip"
          >Description should be no more than 255 characters long</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="responsible" i18n="@@TaskResponsible">Responsible</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="responsibleErrorTip">
      <nz-select
        nzMode="default"
        nzPlaceHolder="Please select a responsible person"
        i18n-nzPlaceHolder="@@CreateTaskResponsiblePlaceHolder"
        formControlName="responsible"
      >
        <nz-option *ngFor="let user of users" nzLabel="{{ user.name }}" nzValue="{{ user._id }}"></nz-option>
      </nz-select>

      <ng-template #responsibleErrorTip>
        <ng-container *ngIf="responsible?.hasError('required')" i18n="@@TaskResponsibleRequiredErrorTip"
          >Please provide a responsible (task owner)</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="participants" i18n="@@CreateTaskParticipants"
      >Participants</nz-form-label
    >
    <nz-form-control [nzSm]="17" [nzXs]="24">
      <nz-select
        nzMode="multiple"
        nzPlaceHolder="Please select team members"
        i18n-nzPlaceHolder="@@CreateTaskParticipantsPlaceHolder"
        formControlName="participants"
      >
        <nz-option *ngFor="let user of users" nzLabel="{{ user.name }}" nzValue="{{ user._id }}"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-divider nzText="Task Checklist" i18n-nzText="@@CreateTaskChecklist"></nz-divider>

  <nz-form-item>
    <label nz-checkbox>Design task checklist</label>
  </nz-form-item>

  <nz-form-item>
    <input nz-input />
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="24" [nzSm]="24">
      <button nz-button nzType="dashed" class="add-button" i18n="@@CreateTaskAddSubTask">
        <span nz-icon nzType="plus"></span>
        Add Subtask
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
