<nz-footer>
  <a href="https://rs.school/angular/"><img src="assets/images/rsschoollogo.svg" /></a>

  <div class="contacts">
    <div>
      <span nz-icon nzType="github"></span>
      <a href="https://github.com/thorsangervanet">thorsangervanet</a>
    </div>

    <div>
      <span nz-icon nzType="github"></span>
      <a href="https://github.com/ogimlyogimly">ogimly</a>
    </div>

    <div>
      <span nz-icon nzType="github"></span>
      <a href="https://github.com/022022">022022</a>
    </div>
  </div>

  <div class="copyright">
    <span nz-icon nzType="copyright-circle" nzTheme="outline"></span>
    2022
  </div>
</nz-footer>
