<form nz-form class="content-form" [formGroup]="boardAddForm">
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="title" i18n="@@CreateBoardTitle">Title</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="titleErrorTip">
      <input nz-input formControlName="title" id="title" />

      <ng-template #titleErrorTip>
        <ng-container *ngIf="title?.hasError('required')" i18n="@@CreateBoardTitleRequiredErrorTip"
          >Please provide a title</ng-container
        >
        <ng-container
          *ngIf="title?.hasError('maxlength') || title?.hasError('minlength')"
          i18n="@@CreateBoardTitleMinlengthErrorTip"
          >Title should be 2-40 characters long</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="Participants" i18n="@@CreateBoardParticipants"
      >Participants</nz-form-label
    >
    <nz-form-control [nzSm]="17" [nzXs]="24">
      <nz-select
        nzMode="multiple"
        nzPlaceHolder="Please select team members"
        i18n-nzPlaceHolder="@@CreateBoardTeamMembers"
        formControlName="participants"
      >
        <nz-option
          nzLabel="{{ (user$ | async)?.name }}"
          nzValue="{{ (user$ | async)?._id }}"
          nzHide
          nzDisabled
        ></nz-option>
        <nz-option *ngFor="let user of users$ | async" nzLabel="{{ user.name }}" nzValue="{{ user._id }}"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label
      [nzSm]="7"
      [nzXs]="24"
      nzFor="boardCoverImage"
      nzTooltipTitle="What do you want to see on board cover"
      i18n-nzTooltipTitle="@@CreateBoardImageTooltip"
      >Board Image
    </nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="">
      <input type="file" #fileInput (change)="onFileInput(fileInput.files)" aria-label="" />
    </nz-form-control>
  </nz-form-item>

  <ng-template [nzModalFooter]>
    <button nz-button (click)="handleCancel()" i18n="@@CreateBoardCancelText">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="isLoading$ | async" (click)="handleOk()" i18n="@@CreateBoardOkText">
      Save
    </button>
  </ng-template>
</form>
