<nz-layout>
  <nz-header>
    <div class="header__logo">
      <img src="assets/images/ngpma.png" />
      ngPMA
    </div>

    <nz-input-group [nzSuffix]="suffixIconSearch" class="header__search-field">
      <input type="text" nz-input placeholder="Search" i18n-placeholder="@@inputSearchPlaceholder" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

    <div class="header__right-group">
      <nz-radio-group class="header__lang-switch" nzSize="small">
        <label nz-radio-button nzValue="RU">RU</label>
        <label nz-radio-button nzValue="EN">EN</label>
      </nz-radio-group>

      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="user-menu">
        John Doe
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item i18n="@@editProfile">Edit Profile</li>
          <li nz-menu-item i18n="@@logOut">Log Out</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>

  <nz-content>
    <div class="project__inner-content">
      <nz-page-header class="site-page-header" nzBackIcon>
        <nz-page-header-title>Name of the awesome board</nz-page-header-title>
        <nz-avatar
          nz-page-header-avatar
          [nzSize]="64"
          nzSrc="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085"
        ></nz-avatar>
      </nz-page-header>

      <div class="board-participants">
        Participants: <nz-tag class="user-tag">Lea</nz-tag> <nz-tag class="user-tag">Mike 34798bb545 </nz-tag>
      </div>

      <div class="project__boards">
        <nz-card nzHoverable class="project__board" [nzActions]="[actionAdd]" [nzTitle]="title">
          <nz-list nzItemLayout="horizontal">
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title> Very Important Task </nz-list-item-meta-title>
                <nz-list-item-meta-description> John Doe </nz-list-item-meta-description>
              </nz-list-item-meta>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <span nz-icon nzType="delete" class="anticon anticon-delete ng-star-inserted"></span>
                </nz-list-item-action>
              </ul>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title> Very Important Task </nz-list-item-meta-title>
                <nz-list-item-meta-description> Lea </nz-list-item-meta-description>
              </nz-list-item-meta>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <span nz-icon nzType="delete" class="anticon anticon-delete ng-star-inserted"></span>
                </nz-list-item-action>
              </ul>
            </nz-list-item>
          </nz-list>
        </nz-card>
        <ng-template #actionAdd>
          <button
            i18n-nzTooltipTitle="@@AddNewTask"
            nz-button
            nz-tooltip
            nzType="default"
            nzShape="circle"
            nzTooltipTitle="Add New Task"
            nzTooltipPlacement="bottom"
            nzTooltipColor="#203c56"
          >
            <span nz-icon nzType="plus"></span>
          </button>
        </ng-template>

        <ng-template #title>
          <div class="title-to-input" nzAlign="center">
            <h3>
              Backlog
              <nz-badge
                nzStandalone
                [nzCount]="2"
                [nzStyle]="{
                  backgroundColor: 'transparent',
                  color: '#d39264',
                  boxShadow: '0 0 0 1px #d39264 inset'
                }"
              ></nz-badge>
            </h3>
            <span nz-icon nzType="delete" class="anticon anticon-delete ng-star-inserted action-icon"></span>
          </div>
        </ng-template>

        <nz-card nzHoverable class="project__board" [nzActions]="[actionAdd2]" [nzTitle]="titleinput">
          <nz-list nzItemLayout="horizontal">
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title> Very Important Task </nz-list-item-meta-title>
                <nz-list-item-meta-description> Mike 34798bb545 </nz-list-item-meta-description>
              </nz-list-item-meta>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <span nz-icon nzType="delete" class="anticon anticon-delete ng-star-inserted"></span>
                </nz-list-item-action>
              </ul>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title> Very Important Task </nz-list-item-meta-title>
                <nz-list-item-meta-description> John Doe </nz-list-item-meta-description>
              </nz-list-item-meta>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <span nz-icon nzType="delete" class="anticon anticon-delete ng-star-inserted"></span>
                </nz-list-item-action>
              </ul>
            </nz-list-item>
          </nz-list>
        </nz-card>
        <ng-template #actionAdd2>
          <button
            i18n="@@AddNewTask"
            nz-button
            nz-tooltip
            nzType="default"
            nzShape="circle"
            nzTooltipTitle="Add New Task"
            nzTooltipPlacement="bottom"
            nzTooltipColor="#203c56"
          >
            <span nz-icon nzType="plus"></span>
          </button>
        </ng-template>

        <ng-template #titleinput>
          <div class="title-to-input">
            <nz-input-group>
              <input nz-input placeholder="To Do" />
            </nz-input-group>
          </div>
        </ng-template>

        <nz-card nzHoverable class="project__board" [nzActions]="[actionAdd]" [nzTitle]="title2">
          <nz-list nzItemLayout="horizontal">
            <nz-list-empty nzNoResult="No Tasks Here" *ngIf="data.length === 0"></nz-list-empty>
          </nz-list>
        </nz-card>
        <ng-template #actionAdd>
          <button
            i18n="@@AddNewTask"
            nz-button
            nz-tooltip
            nzType="default"
            nzShape="circle"
            nzTooltipTitle="Add New Task"
            nzTooltipPlacement="bottom"
            nzTooltipColor="#203c56"
          >
            <span nz-icon nzType="plus"></span>
          </button>
        </ng-template>

        <ng-template #title2>
          <div class="title-to-input" nzAlign="center">
            <h3>Click to edit</h3>
            <span nz-icon nzType="delete" class="anticon anticon-delete ng-star-inserted"></span>
          </div>
        </ng-template>

        <button
          nz-button
          nz-tooltip
          i18n-nzTooltipTitle="@@AddNewColumn"
          nzType="primary"
          nzShape="circle"
          nzTooltipTitle="Add New Column"
          nzTooltipPlacement="bottom"
          nzTooltipColor="#203c56"
        >
          <span nz-icon nzType="plus"></span>
        </button>
      </div>
    </div>
  </nz-content>

  <nz-footer>
    <a href="https://rs.school/angular/"><img src="assets/images/rsschoollogo.svg" /></a>

    <div class="contacts">
      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/thorsangervanet">thorsangervanet</a>
      </div>

      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/ogimlyogimly">ogimly</a>
      </div>

      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/022022">022022</a>
      </div>
    </div>

    <div class="copyright">
      <span nz-icon nzType="copyright-circle" nzTheme="outline"></span>
      2022
    </div>
  </nz-footer>
</nz-layout>
