<nz-layout>
  <nz-header>
    <div class="header__logo">
      <img src="assets/images/ngpma.png" />
      ngPMA
    </div>

    <nz-input-group [nzSuffix]="suffixIconSearch" class="header__search-field">
      <input type="text" nz-input placeholder="Search" i18n-placeholder="@@inputSearchPlaceholder" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

    <div class="header__right-group">
      <nz-radio-group class="header__lang-switch" nzSize="small">
        <label nz-radio-button nzValue="RU">RU</label>
        <label nz-radio-button nzValue="EN">EN</label>
      </nz-radio-group>

      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="user-menu">
        John Doe
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item i18n="@@editProfile">Edit Profile</li>
          <li nz-menu-item i18n="@@logOut">Log Out</li>
          <li nz-menu-divider></li>
          <li nz-menu-item nzDisabled>disabled menu item</li>
          <li nz-submenu nzTitle="sub menu">
            <ul>
              <li nz-menu-item>3rd menu item</li>
              <li nz-menu-item>4th menu item</li>
            </ul>
          </li>
          <li nz-submenu nzDisabled nzTitle="disabled sub menu">
            <ul>
              <li nz-menu-item>3rd menu item</li>
              <li nz-menu-item>4th menu item</li>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>

  <nz-content>
    <div class="main-inner-content">
      <nz-card
        nzHoverable
        style="width: 300px"
        [nzCover]="coverTemplate"
        [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
      >
        <nz-card-meta nzTitle="Awesome project" nzDescription="Board created: 31.10.22 17:01"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </ng-template>
      <ng-template #actionSetting>
        <span nz-icon nzType="setting"></span>
      </ng-template>
      <ng-template #actionEdit>
        <span nz-icon nzType="edit"></span>
      </ng-template>
      <ng-template #actionEllipsis>
        <span nz-icon nzType="delete"></span>
      </ng-template>

      <nz-card
        nzHoverable
        style="width: 300px"
        [nzCover]="coverTemplate2"
        [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
      >
        <nz-card-meta
          nzTitle="Even More Awesomely Awesome Project"
          nzDescription="Board created: 31.10.22 18:01"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate2>
        <img
          alt="example"
          width="300"
          height="182"
          src="https://www.013.nl/uploads/cache/event_main_desktop/605388a27c174.jpg"
        />
      </ng-template>
      <ng-template #actionSetting>
        <span nz-icon nzType="setting"></span>
      </ng-template>
      <ng-template #actionEdit>
        <span nz-icon nzType="edit"></span>
      </ng-template>
      <ng-template #actionEllipsis>
        <span nz-icon nzType="delete"></span>
      </ng-template>

      <nz-card
        nzHoverable
        style="width: 300px"
        [nzCover]="coverTemplate3"
        [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
      >
        <nz-card-meta nzTitle="Yet Another Project" nzDescription="Board created: 31.10.22 19:01"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate3>
        <img
          alt="example"
          width="300"
          height="182"
          src="https://ss.sport-express.ru/userfiles/materials/173/1735202/volga.jpg"
        />
      </ng-template>
      <ng-template #actionSetting>
        <span nz-icon nzType="setting"></span>
      </ng-template>
      <ng-template #actionEdit>
        <span nz-icon nzType="edit"></span>
      </ng-template>
      <ng-template #actionEllipsis>
        <span nz-icon nzType="delete"></span>
      </ng-template>

      <nz-card
        nzHoverable
        style="width: 300px; display: flex; align-items: center; justify-content: center; gap: 16px; text-align: center"
      >
        <button
          nz-button
          nz-tooltip
          i18n-nzTooltipTitle="@@AddNewBoard"
          nzType="primary"
          nzShape="circle"
          nzTooltipTitle="Add New Board"
          nzTooltipPlacement="bottom"
          nzTooltipColor="#203c56"
        >
          <span nz-icon nzType="plus"></span>
        </button>
      </nz-card>
    </div>
  </nz-content>

  <nz-footer>
    <a href="https://rs.school/angular/"><img src="assets/images/rsschoollogo.svg" /></a>

    <div class="contacts">
      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/thorsangervanet">thorsangervanet</a>
      </div>

      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/ogimlyogimly">ogimly</a>
      </div>

      <div>
        <span nz-icon nzType="github"></span>
        <a href="https://github.com/022022">022022</a>
      </div>
    </div>

    <div class="copyright">
      <span nz-icon nzType="copyright-circle" nzTheme="outline"></span>
      2022
    </div>
  </nz-footer>
</nz-layout>
