<nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="titleErrorTip">
  <input nz-input placeholder="{{ 'ColumnTitle' | translate }}" nzSize="small" [formControl]="titleControl" />

  <ng-template #titleErrorTip>
    <ng-container *ngIf="titleControl.hasError('required')">{{
      'CreateColumnTitleRequiredErrorTip' | translate
    }}</ng-container>
    <ng-container *ngIf="titleControl.hasError('maxlength')"
      >{{ 'CreateColumnTitleMaxlengthErrorTip' | translate }}
    </ng-container>
    <ng-container *ngIf="titleControl?.hasError('containsOnlySpace')">
      {{ 'SpacesErrorTip' | translate }}
    </ng-container>
  </ng-template>
</nz-form-control>

<ng-template [nzModalFooter]>
  <button nz-button (click)="handleCancel()">{{ 'CancelButtonText' | translate }}</button>
  <button
    nz-button
    nzType="primary"
    [nzLoading]="isLoading$ | async"
    (click)="handleOk()"
    [disabled]="!titleControl.valid"
  >
    {{ 'SaveButtonText' | translate }}
  </button>
</ng-template>
