<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Sign Up"
  i18n-nzTitle="@@SignUpModalTitle"
  [nzFooter]="null"
  [nzWidth]="400"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <div i18n="@@passwordRequirements">
      <p>To sign up please provide username (more than two characters) and a strong password.</p>
      <p>For your safety password should be:</p>
      <ul>
        <li>at least 8 characters</li>
        <li>both uppercase and lowercase letters</li>
        <li>both letters and numbers</li>
        <li>contain at least one special character, e.g., ! @ # ? ]</li>
      </ul>
    </div>
    <form nz-form class="auth-form" (ngSubmit)="submitForm()" [formGroup]="signUpForm">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="loginErrorTip">
          <nz-input-group nzPrefixIcon="login">
            <input
              type="text"
              nz-input
              formControlName="login"
              placeholder="Login"
              i18n-placeholder="@@loginPlaceholder"
            />
          </nz-input-group>
          <ng-template #loginErrorTip>
            <ng-container *ngIf="login?.hasError('required')" i18n="@@loginRequiredErrorTip"
              >Please provide a login</ng-container
            >
            <ng-container *ngIf="login?.hasError('minlength')" i18n="@@loginMinlengthErrorTip"
              >Login should be at least two characters long</ng-container
            >
            <ng-container *ngIf="login?.hasError('userAlreadyExists')" i18n="@@userAlreadyExistsErrorTip"
              >This user login already exists, please provide a new one</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="nameErrorTip">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="name"
              placeholder="Name"
              i18n-placeholder="@@namePlaceholder"
            />
          </nz-input-group>
          <ng-template #nameErrorTip>
            <ng-container *ngIf="name?.hasError('required')" i18n="@@nameRequiredErrorTip"
              >Please provide a name</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTip">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
              i18n-placeholder="@@passwordPlaceholder"
            />
          </nz-input-group>
          <ng-template #passwordErrorTip>
            <ng-container *ngIf="password?.hasError('required')" i18n="@@passwordRequiredErrorTip"
              >Please provide a password</ng-container
            >
            <ng-container *ngIf="password?.hasError('pattern')" i18n="@@passwordPatternErrorTip"
              >Please check your password for typos</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button nz-button nzType="primary" i18n="@@SignUpButton">Sign Up</button>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
