@import 'theme.less';

@import 'variables.less';

html, body {
  height: 100%;
  background: @background-color-light;
}

nz-content {
  padding: 0 64px;
}

app-root, app-main, app-board, app-welcome {
  display: flex;
  height: 100%;
}

.ant-layout-content {
  min-height: auto;
}

.ant-layout {
  display: flex;
  flex-direction: column;
  background-color: @background-color-light;
}

.content-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

form .anticon {
  color: @background-color-medium;
}

.auth-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}

.auth-form .ant-form-item-control {
  width: 260px;
}

.ant-form-item-explain-error {
  color: @error-color;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
  display: inline-block;
  margin-right: 4px;
  color: @error-color;
  content: "*";
}