@root-entry-name: default;

@import "../node_modules/ng-zorro-antd/style/entry.less"; /* base styles */

@import "../node_modules/ng-zorro-antd/button/style/entry.less";
@import "../node_modules/ng-zorro-antd/dropdown/style/entry.less";
@import "../node_modules/ng-zorro-antd/list/style/entry.less";
@import "../node_modules/ng-zorro-antd/layout/style/entry.less";
@import "../node_modules/ng-zorro-antd/switch/style/entry.less";
@import "../node_modules/ng-zorro-antd/input/style/entry.less";
@import "../node_modules/ng-zorro-antd/icon/style/entry.less";
@import "../node_modules/ng-zorro-antd/card/style/entry.less";
@import "../node_modules/ng-zorro-antd/typography/style/entry.less";
@import "../node_modules/ng-zorro-antd/avatar/style/entry.less";
@import "../node_modules/ng-zorro-antd/tooltip/style/entry.less";
@import "../node_modules/ng-zorro-antd/radio/style/entry.less";
@import "../node_modules/ng-zorro-antd/badge/style/entry.less";
@import "../node_modules/ng-zorro-antd/tag/style/entry.less";
@import "../node_modules/ng-zorro-antd/upload/style/entry.less";
@import "../node_modules/ng-zorro-antd/input-number/style/entry.less";
@import "../node_modules/ng-zorro-antd/divider/style/entry.less";
@import "../node_modules/ng-zorro-antd/checkbox/style/entry.less";
@import "../node_modules/ng-zorro-antd/page-header/style/entry.less";

@import "../node_modules/ng-zorro-antd/modal/style/entry.less";

@primary-color: #d39264; // primary color for all components
@primary-light: #ffb37f;
@custom-grey: #a9a9a9;
@secondary-color: #002e5c;
@secondary-light: #5a81b9;
@background-color-medium: #d3dde4;
// @background-color-light: #ebf0f4;
@background-color-light: #eef5fb;
@background-color-xlight: #fafcfd;
@font-size-base: 16px; // @font-size-base: 14px;
@link-color: @secondary-color; // link color
@success-color: #438d1e; // success state color
@warning-color: #f7bd4a; // warning state color
@error-color: #ac353b; // error state color

html, body {
  height: 100%;
  background: @background-color-light;
}

nz-content {
  padding: 0 64px;
}

app-root, app-main, app-board, app-welcome {
  display: flex;
  height: 100%;
}

.ant-layout-content {
  min-height: auto;
}

.ant-layout {
  display: flex;
  flex-direction: column;
  background-color: @background-color-light;
}


.content-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

form .anticon {
  color: @background-color-medium;
}

.auth-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}
