@primary-color: #d39264; // primary color for all components
@primary-light: #ffb37f;
@custom-grey: #a9a9a9;
@secondary-color: #002e5c;
@secondary-light: #5a81b9;
@background-color-medium: #d3dde4;
// @background-color-light: #ebf0f4;
@background-color-light: #eef5fb;
@background-color-xlight: #fafcfd;
@font-size-base: 16px; // @font-size-base: 14px;
@link-color: @secondary-color; // link color
@success-color: #438d1e; // success state color
@warning-color: #f7bd4a; // warning state color
@error-color: #ac353b; // error state color

@tablet-max-width: 1080px;
@mobile-max-width: 900px;
