<nz-select
  class="search__search-field"
  nzBorderless
  nzShowSearch
  nzPlaceHolder="Search"
  i18n-placeholder="@@inputSearchPlaceholder"
  [nzDropdownRender]="renderTemplate"
  [nzShowArrow]="false"
  [nzFilterOption]="nzFilterOption"
  (nzOnSearch)="search($event)"
>
  <nz-option nzLabel="search result:" [nzValue]="null" nzDisabled></nz-option>
</nz-select>
<ng-template #renderTemplate>
  <div class="search__result-container">
    <div *ngIf="searchResult$ | async as searchResult">
      <div *ngFor="let task of searchResult">
        <a routerLink="/boards/{{ task.boardId }}">
          <div class="search__result">
            <span class="search__result-title">{{ task.title }} </span
            ><span class="search__result-description"> {{ task.description }}</span
            ><span class="search__result-description"> [{{ getUsersList(task) }}]</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</ng-template>
