<nz-select
  class="search__search-field"
  nzShowSearch
  nzServerSearch
  placeholder="Search"
  i18n-placeholder="@@inputSearchPlaceholder"
  [nzDropdownRender]="renderTemplate"
  [nzShowArrow]="false"
  [nzFilterOption]="nzFilterOption"
  (nzOnSearch)="search($event)"
>
  <nz-option nzLabel="search result:" [nzValue]="null"></nz-option>
</nz-select>
<ng-template #renderTemplate>
  <div class="search__result-container">
    <div *ngIf="searchResult$ | async as searchResult">
      <div *ngFor="let task of searchResult">
        <a routerLink="/boards/{{ task.boardId }}"
          ><p>{{ task._id }} {{ task.title }} {{ task.description }}</p></a
        >
      </div>
    </div>
  </div>
</ng-template>
