@import 'variables';

.search__search-field {
  height: 32px;
  width: 600px;
  margin-left: 66px;
  background-color: transparent;
  color: @primary-light;
}

.search__result-container {
  padding: 0 10px 0 10px;
}
