<nz-input-group [nzSuffix]="suffixIconSearch" class="header__search-field">
  <input
    type="text"
    nz-input
    placeholder="Search"
    i18n-placeholder="@@inputSearchPlaceholder"
    #searchBox
    (input)="search(searchBox.value)"
  />

  <div *ngIf="searchResult$ | async as searchResult">
    <div *ngFor="let result of searchResult">
      <p>{{ result._id }} {{ result.title }} {{ result.description }}</p>
    </div>
  </div>
</nz-input-group>
<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>
